/*Hrmpf! Tiger Style!*/

.audiowideFont{
font-family: 'Audiowide', cursive;
}

.staatlichesFont{
  font-family: 'Staatliches', cursive;
}

.codaFont{
  font-family: 'Coda', cursive;
}

.prostoOneFont{
  font-family: 'Prosto One', cursive;
}

.containerNav{
  background-color: #33ccff;
  width: 100%;
  padding: 15px 15px;
  display: block;
}

.container1600{
  max-width: 1600px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

.navigationPhoneNumber{
  font-family: 'Coda', cursive;
  font-size: 33px; /*fight me*/
  font-weight: bold;
  font-style: italic;
}

.locationMeatspaceStyle{
  font-family: 'Prosto One', cursive;
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;

}
@media(min-width: 768px){
  .locationMeatspaceStyle{
    font-size: 40px;
  }
}

.containerTitle{
  width: 100%;
  padding: 15px 15px;
  display: block;
}

.tigerTransportTitle{
  font-family: 'Staatliches', cursive;
  font-size: 60px;
  text-align: center;
  line-height: 62px;
  text-transform: uppercase;
}
@media(min-width: 768px){
  .tigerTransportTitle{
    font-size: 80px;
    line-height: 82px;
  }
}
@media(min-width: 1200px){
  .tigerTransportTitle{
    font-size: 111px;
    line-height: 112px;
  }
}

.tigerLinkStyle{
  font-family: 'Prosto One', cursive;
  font-size: 24px;
  color: #33ccff;

}

.tigerLinkStyle:hover{
  font-family: 'Prosto One', cursive;
  font-size: 24px;
  color: #000000;

}

.fontSize80PX{
  font-size: 60px;
  line-height: 65px;
}
@media(min-width: 768px){
  .fontSize80PX{
    font-size: 80px;
  }
}

.fontSize24PX{
  font-size: 24px;
  color: #ffffff;
}

.fontSizeDefaultColor24PX{
  font-size: 24px;
}

.fontSize24PX:hover{
  font-size: 24px;
  color: #33ccff;
}

.fontTagLines{
  font-size: 24px;
  color: #343a40;
}

.fontFinance{
  font-size: 34px;
  font-weight: bold;
  text-align: center;
  color: #343a40;
}

.fontFinanceFinePrint{
  font-size: 12px;
  font-style: italic;
  font-weight: bold;
  color: #343a40;
}

.financeContainer{
  padding: 2rem 1rem;

}

/*CAROUSEL*/
.carousel {
  position: relative;
}

.carousel.pointer-event {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-bottom: 60%;
}

.carousel-inner::after {
  display: block;
  clear: both;
  content: "";
}

.carousel-item {
  position: relative;
  display: none;
  float: left;
  width: 100%;
  margin-right: -100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .carousel-item {
    transition: none;
  }
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
}

.carousel-item-next:not(.carousel-item-left),
.active.carousel-item-right {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.carousel-item-prev:not(.carousel-item-right),
.active.carousel-item-left {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.carousel-fade .carousel-item {
  opacity: 0;
  transition-property: opacity;
  -webkit-transform: none;
  transform: none;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
  z-index: 1;
  opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
  z-index: 0;
  opacity: 0;
  transition: 0s 0.6s opacity;
}

@media (prefers-reduced-motion: reduce) {
  .carousel-fade .active.carousel-item-left,
  .carousel-fade .active.carousel-item-right {
    transition: none;
  }
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 15%;
  color: #fff;
  text-align: center;
  opacity: 0.5;
  transition: opacity 0.15s ease;
}

@media (prefers-reduced-motion: reduce) {
  .carousel-control-prev,
  .carousel-control-next {
    transition: none;
  }
}

.carousel-control-prev:hover, .carousel-control-prev:focus,
.carousel-control-next:hover,
.carousel-control-next:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: 0.9;
}

.carousel-control-prev {
  left: 0;
}

.carousel-control-next {
  right: 0;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: no-repeat 50% / 100% 100%;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e");
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 15;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
}

.carousel-indicators li {
  box-sizing: content-box;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 30px;
  height: 3px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  background-clip: padding-box;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: .5;
  transition: opacity 0.6s ease;
}

@media (prefers-reduced-motion: reduce) {
  .carousel-indicators li {
    transition: none;
  }
}

.carousel-indicators .active {
  opacity: 1;
}

.carouselCaption{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 400px;
  text-align: center;
  font-family: 'Staatliches', cursive;
  color: #ffffff;
}
@media(min-width: 1200px){
  .carouselCaption{
    bottom: 320px;
  }
}
/*CAROUSEL*/
.containerBlackButtons{
  background-color: transparent;
}

.blackButtonLinks{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 2px 2px;
  border: solid 1px transparent;
  border-radius: 4px;
  padding: .75em 1em;
  color: #ffffff;
  background-color: #000000;
  padding: .25em .5em;
  width: 200px;
  height: 35px;
}
@media(min-width: 1200px){
  .blackButtonLinks{
    font-size: 16px;
    width: 300px;
    height: 65px;
    font-size: 22px;
    text-align: center;
  }
}
@media(max-width: 400px){
  .blackButtonLinks{
    font-size: 16px;
    width: 300px;
    height: 65px;
    font-size: 20px;
    text-align: center;
  }
}

.servicesPictures{
  width: 100%;
  padding-bottom: 100%;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 30px auto 0;
}
@media(min-width: 576px){
  .servicesPictures{
    padding-bottom: 100%;
    background-size: contain;
    width: 100%;
  }
}
@media(min-width: 768px){
  .servicesPictures{
    padding-bottom: 100%;
    background-size: contain;
    width: 100%;
  }
}
@media(min-width: 992px){
  .servicesPictures{
    padding-bottom: 100%;
    background-size: contain;
  }
}
@media(min-width: 1200px){
  .servicesPictures{
    padding-bottom: 90%;
    background-size: contain;

  }
}

.servicesMedicPicture{
  background-image: url("../images/doctorFives0.jpg");
}

.servicesSafeHousePicture{
  background-image: url("../images/safeHouse0.jpg");
}

.servicesWeaponModsPicture{
  background-image: url("../images/g17Moon0.jpg");
}

.servicePicturesText{
  font-family: 'Staatliches', cursive;
  font-size: 20px;
}
@media(min-width: 690px){
  .servicePicturesText{
    font-family: 'Staatliches', cursive;
    font-size: 36px;
  }
}

.blackLineFrame{
  background-color: #000000;
  height: 11px;
  width: 100%;
  display: block;
  margin: 30px 0;
}

.welcomeSection{
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

.bankFinance{
  background-image: url("../images/bankFinancing0.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 200px;
}
@media(min-width: 768px){
  .bankFinance{
    width: 100%;
    height: 675px;
  }
}

.negativeMargins{
  margin-right: -15px;
  margin-left: -15px;
}

.financeBackground{
  background-color: #cccccc;
}

.leftButton{
  margin-top: -100px;
  float: left;
  background-color: black;
  color: white;
  padding: 10px;

}

.rightButton{
  margin-top: -100px;
  float: right;
  background-color: black;
  color: white;
  padding: 10px;
}

.footer{
  background-color: #ccffff;
}

.footerBar{
  background-color: #000000;
}
/*It is inadvisable to antagonize the Wu-Tang Clan*/
